{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock styles %}
{% block title %}Profile - Spielcraft Game{% endblock title%}
{% block content %}
    <div class="container py-4">
        {# Show Avatar#}
        <div class="d-flex align-items-center">
            <img src="{{profile.avatar.url}}" class="img-fluid rounded-circle me-4 profile__avatar" alt="Player Avatar">
            <h1>{{profile.display_name}}</h1>
        </div>

        {# Biography Section #}
        <div class="my-4">
            <h3 class="mb-3">Biography</h3>
            <p>{{profile.player_bio}}</p>
        </div>

        {# Profile/User Details Section #}
        <div class="row">
            <h3 class="mb-4">Profile Details</h3>
            <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-center">
                <div class="text-center mb-4">
                    <h4>{{ user.username }}</h4>
                    <div class="my-2 profile__custom_border_bottom"></div>
                    <h5>Username</h5>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-center">
                <div class="text-center mb-4">
                    <h4>{{ user.email }}</h4>
                    <div class="my-2 profile__custom_border_bottom"></div>
                    <h5>Email</h5>
                </div>
            </div>

        </div>

        {# Profile Details #}
        <div class="row">
            <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-center">
                <div class="text-center mb-4">
                    <h4>{{ user.first_name }}</h4>
                    <div class="my-2 profile__custom_border_bottom"></div>
                    <h5>First Name</h5>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-center">
                <div class="text-center mb-4">
                    <h4>{{ user.last_name }}</h4>
                    <div class="my-2 profile__custom_border_bottom"></div>
                    <h5>Last Name</h5>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-center">
                <div class="text-center mb-4">
                    <h4>{{ profile.display_name }}</h4>
                    <div class="my-2 profile__custom_border_bottom"></div>
                    <h5>Display Name</h5>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-center">
                <div class="text-center mb-4">
                    {# Since you've defined the choices for the state field in your model, Django will generate the get_<field_name>_display method for you. #}
                    <h4>{{ user.get_state_display }}</h4>
                    <div class="my-2 profile__custom_border_bottom"></div>
                    <h5>State</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock script %}
