{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock styles %}
{% block title %} Profile - Spielcraft Game {% endblock title%}
{% block main_heading %}{% endblock %}
{% block content %}
    <div class="container">
        {% comment %} Display Player Details if Logged In {% endcomment %}
        {% if user.username %}
            <div class="row">
                {# Show Player Personal Details #}
                <div class="">
                    <div class="">
                        <img src="{{profile.avatar.url}}" style="width: 300px;" class="img-fluid img-thumbnail rounded-circle" alt="Game Avatar">
                        <div class="">
                            <h4 class="">{{profile.display_name}}'s Profile</h4>
                            <p class="">{{user.first_name}} {{user.last_name}}</p>
                            <p class="">{{ user.email }}</p>
                            <p class="">State: {{ user.state }}</p>
                            <h4>Player Bio:</h4>
                            <p class="">{{profile.player_bio}}</p>
                        </div>

                        <!-- Form to delete bio -->
                        <div class="bg-dark">
                            <form action="{% url 'user_account:profile' %}" method="post">
                                {% csrf_token %}
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal">
                                    Delete Player Bio
                                </button>

                                <!-- Delete Confirmation Modal -->
                                <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog"
                                     aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content bg-dark">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmation</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete your player bio?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                <button type="submit" name="delete_player_bio" class="btn btn-danger">Yes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% comment %} Edit Player Profile {% endcomment %}
                    <div class="text-center">
                        <a href="{% url 'user_account:profile_update' %}" class="btn btn-danger">Edit {{ profile.display_name }}'s Profile</a>
                    </div>
                </div>

        {% comment %} Display if No Player Logged In {% endcomment %}
        {% else %}
            Profile - Spielcraft Games
        {% endif %}
    </div>
{%endblock%}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock script %}
