{% extends "base.html" %}
{% block title %}About - Spielcraft Games{% endblock %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock styles %}
{% block content %}
<div class="">
    <h1 class="text-danger">About - Spielcraft Games - User Account Systems</h1>
    <h5 class="">Created By</h5>
    <h3 class="">Maverick Analyzers</h3>

    <a href="{% url 'user_account:home' %}" class="btn btn-primary">Go to Home</a>
</div>
{% endblock %}
{% block script %}{% endblock script %}
