{% extends "base.html" %}
{% block title %}Home - Spielcraft Games{% endblock %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock styles %}
{% block content %}
<div class="">
    <h1 class="text-danger">Home - Spielcraft Games - User Account Systems</h1>
    <h5 class="">Created By</h5>
    <h3 class="">Maverick Analyzers</h3>

    <a href="{% url 'user_account:about' %}" class="btn btn-primary">Go to About</a>
    <a href="{% url 'user_account:create_account' %}" class="btn btn-primary">Go to Create Account</a>
</div>
{% endblock %}
{% block script %}{% endblock script %}
