{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/authentication.css" %}">
{% endblock styles %}
{% block title %}Password Reset Form - Spielcraft Games{% endblock title %}
{% block content %}
    <!-- Input email to reset password -->
    <div class="d-flex flex-column justify-content-center align-items-center vh-100 p-2 content-section">
        <div class="text-center">
            <h1 class="text-danger">Forgot Password</h1>
            <p class="my-3" style="max-width: 400px">You will receive an email to reset your password. Make sure to enter your email address correctly.</p>
        </div>

        {# Reset Password Form #}
        <form class="col-lg-4" action="" method="post" novalidate>
            {% csrf_token %}
            <fieldset class="form-group">
                <div class="">
                    {% if reset_form.email.errors %}
                        <div class="alert alert-danger">
                            {{ reset_form.email.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="">{{ reset_form|crispy }}</div>
                <div class="text-center">
                    <button class="btn btn-danger" type="submit">Reset Password</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}