{% extends "base.html" %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static "css/registration.css" %}">{% endblock styles %}
{% load crispy_forms_tags %}
{% block content %}
<!--Password Reset Confirm-->
    <div class="d-flex flex-column justify-content-center align-items-center p-4 content-section">
        <h2 class="text-danger">Change Password</h2>
        <p class="mb-3">Please enter your new password.</p>
        <form method="POST" novalidate>
            {% csrf_token %}
            {{ set_password_form|crispy }}
            <div class="text-center mb-4">
                <button class="btn btn-danger" type="submit">Update Password</button>
            </div>

        </form>
    </div>
{% endblock %}